extends main

block content
  div(class="row justify-content-center" style="margin-top:10px;")
    h1 Shorty URL
  div(class="col-lg-5 col-10" style="margin:0 auto;margin-top:20px;text-align:center;") Whatever you're looking for does not exist...
  div(class="col-lg-5 col-10" style="margin:0 auto;margin-top:20px;text-align:center;")
    a(href="http://localhost:5000/") Home.
